.box {
  background-color: black;
  padding: 3px;
  margin-right: 4px;
  width: 16vw;
  height: 10vy;
}

.text {
  color: white;
  font-size: 2vw;
}

.value {
  color: aqua;
  text-align: right;
  font-size: 4vw;
  font-weight: bold;
}

.unit {
  color: gray;
}
